/* Mainly getting the IPAD and Landscape view on phones */

body, html {
  height: 100%;
  margin: 0;
}

input {
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  border-radius: 50px;
}

textarea {
  border-radius: 20px;
}

.logo {
  width: 100px;
  height: 10px;
  opacity: .8;
}

#Hero {
  background-image: url(img/hero.jpg);
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  color: white;
  background-blend-mode: multiply;
}

.Herotext {
  font-size: 35px;
  padding-top: 25%;
  text-align: center;
  font-family: 'Coming Soon', cursive;
  font-weight: bold;
  color: transparent;
  text-shadow: 0 0 32px white;
  color: white;
}

.info {
  font-size: 18px;
  color: white;
  font-family: 'Coming Soon', cursive;
  font-weight: bold;
  color: transparent;
  text-shadow: 0 0 32px white;
  color: white;
  text-align: center;
}

.info2 {
  font-family: 'Coming Soon', cursive;
}

.nav {
  color: white;
  font-family: 'Coming Soon', cursive;
  opacity: .9;
  color: transparent;
  text-shadow: 0 0 32px white;
  color: white;
  font-size: 10px;
}

.form {
  font-size: 9px;
  font-family: 'Coming Soon', cursive;
}

.sect2hr {
  font-size: 30px;
  text-shadow: 0 0 32px purple;
  color: purple;
  text-align: center;
  font-family: 'Coming Soon', cursive;
}

.logo2 {
  margin-left: 32%;
  margin-top: 8%;
}

.sect2text {
  text-align: center;
  font-family: 'Coming Soon', cursive;
  margin-right: 5%;
}

#sect3 {
  background-color: purple;
  height: 400px;
}

.sect3hr {
  font-size: 20px;
  text-shadow: 0 0 32px white;
  color: white;
  text-align: center;
  font-family: 'Coming Soon', cursive;
  padding-top: 2%;
}

.sect3text {
  font-family: 'Coming Soon', cursive;
  font-size: 15px;
  line-height: 40px;
  text-shadow: 0 0 32px white;
  color: white;
  text-align: center;
  margin-top: 7%;
}

#sect4 {
  border-bottom: 8px solid purple;
}

.logo3 {
  height: 20px;
  width: 100px;
  margin-top: 15%;
  margin-bottom: 15%;
}

.sect5hr {
  font-size: 30px;
  text-shadow: 0 0 32px purple;
  color: purple;
  text-align: center;
  font-family: 'Coming Soon', cursive;
  margin-top: 5%;
}

.sect5text {
  font-size: 18px;
  text-align: center;
  font-family: 'Coming Soon', cursive;
  text-shadow: 0 0 32px purple;
  color: purple;
}

.sect5text2 {
  font-size: 18px;
  text-align: center;
  font-family: 'Coming Soon', cursive;
  padding-bottom: 5%;
}

.fas {
  margin-left: 40%;
  text-shadow: 0 0 32px purple;
  color: black;
}

.fa-dollar-sign {
  text-shadow: 0 0 32px purple;
  color: purple;
  margin-left: 45%;
}

.sect5subhr {
  font-size: 17px;
  text-align: center;
  font-family: 'Coming Soon', cursive;
}

.sect5subhr2 {
  font-size: 17px;
  text-align: center;
  font-family: 'Coming Soon', cursive;
  text-shadow: 0 0 32px purple;
  color: purple;
}

#sect6 {
  font-family: 'Coming Soon', cursive;
  background-color: purple;
  text-shadow: 0 0 32px white;
  color: white;
}

.sect6hr {
  font-family: 'Coming Soon', cursive;
  text-shadow: 0 0 32px white;
  color: white;
  font-size: 14px;
  margin-top: 5%;
}

}

/* Portrait view on phones */

@media (max-width: 576px) {
  body, html {
    height: 100%;
    margin: 0;
  }
  input {
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
  }
  textarea {
    border-radius: 20px;
  }
  .logo {
    width: 100px;
    height: 10px;
    opacity: .8;
  }
  #Hero {
    background-image: url(img/hero.jpg);
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    color: white;
    background-blend-mode: multiply;
  }
  .Herotext {
    font-size: 30px;
    padding-top: 40%;
    text-align: center;
    font-family: 'Coming Soon', cursive;
    font-weight: bold;
    color: transparent;
    text-shadow: 0 0 32px white;
    color: white;
  }
  .info {
    font-size: 18px;
    color: white;
    font-family: 'Coming Soon', cursive;
    font-weight: bold;
    color: transparent;
    text-shadow: 0 0 32px white;
    color: white;
    text-align: center;
  }
  .info2 {
    font-family: 'Coming Soon', cursive;
  }
  .nav {
    color: white;
    font-family: 'Coming Soon', cursive;
    opacity: .9;
    color: transparent;
    text-shadow: 0 0 32px white;
    color: white;
    font-size: 10px;
  }
  .form {
    font-size: 9px;
    font-family: 'Coming Soon', cursive;
  }
  .sect2hr {
    font-size: 30px;
    text-shadow: 0 0 32px purple;
    color: purple;
    text-align: center;
    font-family: 'Coming Soon', cursive;
  }
  .logo2 {
    margin-left: 30%;
    margin-top: 8%;
  }
  .sect2text {
    text-align: center;
    font-family: 'Coming Soon', cursive;
    margin-right: 9%;
  }
  #sect3 {
    background-color: purple;
    height: 400px;
  }
  .sect3hr {
    font-size: 20px;
    text-shadow: 0 0 32px white;
    color: white;
    text-align: center;
    font-family: 'Coming Soon', cursive;
    padding-top: 2%;
  }
  .sect3text {
    font-family: 'Coming Soon', cursive;
    font-size: 22px;
    line-height: 30px;
    text-shadow: 0 0 32px white;
    color: white;
    text-align: center;
    margin-top: 7%;
  }
  #sect4 {
    border-bottom: 8px solid purple;
  }
  .logo3 {
    height: 20px;
    width: 100px;
    margin-top: 15%;
    margin-bottom: 15%;
  }
  .sect5hr {
    font-size: 40px;
    text-shadow: 0 0 32px purple;
    color: purple;
    text-align: center;
    font-family: 'Coming Soon', cursive;
    margin-top: 5%;
  }
  .sect5text {
    font-size: 18px;
    text-align: center;
    font-family: 'Coming Soon', cursive;
    text-shadow: 0 0 32px purple;
    color: purple;
  }
  .sect5text2 {
    font-size: 18px;
    text-align: center;
    font-family: 'Coming Soon', cursive;
    padding-bottom: 5%;
  }
  .fas {
    margin-left: 40%;
    text-shadow: 0 0 32px purple;
    color: black;
  }
  .fa-dollar-sign {
    text-shadow: 0 0 32px purple;
    color: purple;
    margin-left: 40%;
  }
  .sect5subhr {
    font-size: 18px;
    text-align: center;
    font-family: 'Coming Soon', cursive;
  }
  .sect5subhr2 {
    font-size: 18px;
    text-align: center;
    font-family: 'Coming Soon', cursive;
    text-shadow: 0 0 32px purple;
    color: purple;
  }
  #sect6 {
    font-family: 'Coming Soon', cursive;
    background-color: purple;
    text-shadow: 0 0 32px white;
    color: white;
  }
  .sect6hr {
    font-family: 'Coming Soon', cursive;
    text-shadow: 0 0 32px white;
    color: white;
    font-size: 14px;
    margin-top: 5%;
  }
}

/* Landscape view and also some older phones  */

@media (min-width: 600px) {
  body, html {
    height: 100%;
    margin: 0;
  }
  input {
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
  }
  textarea {
    border-radius: 20px;
  }
  .logo {
    width: 200px;
    height: 10px;
    opacity: .8;
  }
  #Hero {
    background-image: url(img/hero.jpg);
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    color: white;
    background-blend-mode: multiply;
  }
  .Herotext {
    font-size: 20px;
    padding-top: 20%;
    text-align: center;
    font-family: 'Coming Soon', cursive;
    font-weight: bold;
    color: transparent;
    text-shadow: 0 0 32px white;
    color: white;
  }
  .info {
    font-size: 28px;
    color: white;
    font-family: 'Coming Soon', cursive;
    font-weight: bold;
    color: transparent;
    text-shadow: 0 0 32px white;
    color: white;
    text-align: center;
  }
  .info2 {
    font-family: 'Coming Soon', cursive;
  }
  .nav {
    color: white;
    font-family: 'Coming Soon', cursive;
    opacity: .9;
    color: transparent;
    text-shadow: 0 0 32px white;
    color: white;
  }
  .form {
    font-size: 14px;
    font-family: 'Coming Soon', cursive;
  }
  .sect2hr {
    font-size: 40px;
    text-shadow: 0 0 32px purple;
    color: purple;
    text-align: center;
    font-family: 'Coming Soon', cursive;
  }
  .logo2 {
    margin-left: 30%;
    margin-top: 8%;
  }
  .sect2text {
    text-align: center;
    font-family: 'Coming Soon', cursive;
    margin-left: 10%;
  }
  #sect3 {
    background-color: purple;
    height: 400px;
  }
  .sect3hr {
    font-size: 20px;
    text-shadow: 0 0 32px white;
    color: white;
    text-align: center;
    font-family: 'Coming Soon', cursive;
    padding-top: 2%;
  }
  .sect3text {
    font-family: 'Coming Soon', cursive;
    font-size: 15px;
    line-height: 50px;
    text-shadow: 0 0 32px white;
    color: white;
    text-align: center;
    margin-top: 7%;
  }
  #sect4 {
    border-bottom: 8px solid purple;
  }
  .logo3 {
    height: 80px;
    width: 170px;
    margin-top: 15%;
    margin-bottom: 15%;
  }
  .sect5hr {
    font-size: 40px;
    text-shadow: 0 0 32px purple;
    color: purple;
    text-align: center;
    font-family: 'Coming Soon', cursive;
    margin-top: 5%;
  }
  .sect5text {
    font-size: 18px;
    text-align: center;
    font-family: 'Coming Soon', cursive;
    text-shadow: 0 0 32px purple;
    color: purple;
  }
  .sect5text2 {
    font-size: 18px;
    text-align: center;
    font-family: 'Coming Soon', cursive;
  }
  .fas {
    margin-left: 45%;
    text-shadow: 0 0 32px purple;
    color: black;
  }
  .fa-dollar-sign {
    text-shadow: 0 0 32px purple;
    color: purple;
    margin-left: 40%;
  }
  .sect5subhr {
    font-size: 27px;
    text-align: center;
    font-family: 'Coming Soon', cursive;
  }
  .sect5subhr2 {
    font-size: 27px;
    text-align: center;
    font-family: 'Coming Soon', cursive;
    text-shadow: 0 0 32px purple;
    color: purple;
  }
  #sect6 {
    font-family: 'Coming Soon', cursive;
    background-color: purple;
    text-shadow: 0 0 32px white;
    color: white;
  }
  .sect6hr {
    font-family: 'Coming Soon', cursive;
    text-shadow: 0 0 32px white;
    color: white;
    font-size: 18px;
    margin-top: 5%;
  }
  .footerimg {
    margin-top: 45%;
  }
}

/* Laptop and Monitor View */

@media (min-width: 992px) {
  body, html {
    height: 100%;
    margin: 0;
  }
  input {
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
  }
  textarea {
    border-radius: 20px;
  }
  .logo {
    width: 300px;
    height: 50px;
    opacity: .8;
  }
  #Hero {
    background-image: url(img/hero.jpg);
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    color: white;
    background-blend-mode: multiply;
  }
  .Herotext {
    font-size: 60px;
    padding-top: 10%;
    text-align: center;
    font-family: 'Coming Soon', cursive;
    font-weight: bold;
    color: transparent;
    text-shadow: 0 0 32px white;
    color: white;
  }
  .info {
    font-size: 28px;
    color: white;
    font-family: 'Coming Soon', cursive;
    font-weight: bold;
    color: transparent;
    text-shadow: 0 0 32px white;
    color: white;
    text-align: center;
  }
  .info2 {
    font-family: 'Coming Soon', cursive;
  }
  .nav {
    color: white;
    font-family: 'Coming Soon', cursive;
    opacity: .9;
    color: transparent;
    text-shadow: 0 0 32px white;
    color: white;
    font-size: 17px;
  }
  .form {
    font-size: 14px;
    font-family: 'Coming Soon', cursive;
  }
  .sect2hr {
    font-size: 40px;
    text-shadow: 0 0 32px purple;
    color: purple;
    text-align: center;
    font-family: 'Coming Soon', cursive;
  }
  .logo2 {
    margin-left: 30%;
    margin-top: 8%;
  }
  .sect2text {
    text-align: center;
    font-family: 'Coming Soon', cursive;
  }
  #sect3 {
    background-color: purple;
    height: 400px;
  }
  .sect3hr {
    font-size: 40px;
    text-shadow: 0 0 32px white;
    color: white;
    text-align: center;
    font-family: 'Coming Soon', cursive;
    padding-top: 2%;
  }
  .sect3text {
    font-family: 'Coming Soon', cursive;
    font-size: 25px;
    line-height: 50px;
    text-shadow: 0 0 32px white;
    color: white;
    text-align: center;
    margin-top: 7%;
  }
  #sect4 {
    border-bottom: 8px solid purple;
  }
  .logo3 {
    height: 80px;
    width: 170px;
    margin-top: 15%;
    margin-bottom: 15%;
  }
  .sect5hr {
    font-size: 40px;
    text-shadow: 0 0 32px purple;
    color: purple;
    text-align: center;
    font-family: 'Coming Soon', cursive;
    margin-top: 5%;
  }
  .sect5text {
    font-size: 18px;
    text-align: center;
    font-family: 'Coming Soon', cursive;
    text-shadow: 0 0 32px purple;
    color: purple;
  }
  .sect5text2 {
    font-size: 18px;
    text-align: center;
    font-family: 'Coming Soon', cursive;
  }
  .fas {
    margin-left: 38%;
    text-shadow: 0 0 32px purple;
    color: black;
  }
  .fa-dollar-sign {
    text-shadow: 0 0 32px purple;
    color: purple;
    margin-left: 45%;
  }
  .sect5subhr {
    font-size: 17px;
    text-align: center;
    font-family: 'Coming Soon', cursive;
  }
  .sect5subhr2 {
    font-size: 17px;
    text-align: center;
    font-family: 'Coming Soon', cursive;
    text-shadow: 0 0 32px purple;
    color: purple;
  }
  #sect6 {
    font-family: 'Coming Soon', cursive;
    background-color: purple;
    text-shadow: 0 0 32px white;
    color: white;
  }
  .sect6hr {
    font-family: 'Coming Soon', cursive;
    text-shadow: 0 0 32px white;
    color: white;
    font-size: 18px;
    margin-top: 5%;
  }
  .footerimg {
    margin-top: 45%;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  ...
}
